body 
{
    background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131__480.jpg");
}

p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
h1
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

h4
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.vertical-center {
    margin-left: 715px;
  }